---
title: Web development by Codoyster
navTitle: Home
primary: 1
description: Codoyster creates websites. You can ask Codoyster to build any website you need. We can develop static, dynamic or Wordpress website.
---
<section class="background background-parallax">
  <div class="image js-parallax"></div>
  <div class="background-overlay">
    <div class="section-header section-header-darkbg section-header-small-margin">
      <h1 class="section-subtitle section-subtitle-canary section-subtitle">Great websites are created here</h1>
      <p class="section-title section-title-noline">You are interested in:</p>
    </div>
    <a href="{{index.service.0.post.0.url}}" class="button button-action button-action-laser-lemon"><h2>Static site</h2></a>
    <a href="{{index.service.0.post.1.url}}" class="button button-action button-action-canary"><h2>Web app</h2></a>
    <a href="{{index.service.0.post.3.url}}" class="button button-action"><h2>API</h2></a>
  </div>
</section>
{{#each index.service}}

  <section class="bgcolor section">
    <div class="row row-with-padding">
      <header class="col col-12 section-header">
        {{#if this.subtitle}}<h3 class="section-subtitle section-subtitle-centered">{{this.subtitle}}</h3>{{/if}}
        <h2 class="section-title section-title-centered">{{this.title}}</h2>
      </header>
    </div>
    <div class="row row-with-padding text-center row-with-cards">
      {{#each this.post}}
        <article class="card {{../modifier}}">
          {{> post-excerpt this}}
        </article>
      {{/each}}
    </div>
  </section>
  {{#is @index 0}}
    <section class="bgcolor section text-center section-skills">
      <header class="col col-12 section-header">
        {{#if this.subtitle}}<h3 class="section-subtitle section-subtitle-canary section-subtitle-centered">Some of my abilities</h3>{{/if}}
        <h2 class="section-title section-title-centered">Skills stack</h2>
      </header>
      <div class="row row-with-padding">
        <div class="col col-6 col-sm-3">
          <div class="skill-box">
            <span>React</span>
          </div>
        </div>
        <div class="col col-6 col-sm-3">
          <div class="skill-box">
            <span>React Native</span>
          </div>
        </div>
        <div class="col col-6 col-sm-3">
          <div class="skill-box">
            <span>Vanilla JS</span>
          </div>
        </div>
        <div class="col col-6 col-sm-3">
          <div class="skill-box">
            <span>CSS3</span>
          </div>
        </div>
      </div>
      <div class="row row-with-padding">
        <div class="col col-6 col-sm-3">
          <div class="skill-box">
            <span>ES6 / ES7</span>
          </div>
        </div>
        <div class="col col-6 col-sm-3">
          <div class="skill-box">
            <span>Node.js</span>
          </div>
        </div>
        <div class="col col-6 col-sm-3">
          <div class="skill-box">
            <span>Express.js</span>
          </div>
        </div>
        <div class="col col-6 col-sm-3">
          <div class="skill-box">
            <span>TDD</span>
          </div>
        </div>
      </div>
      <div class="row row-with-padding">
        <div class="col col-6 col-sm-3">
          <div class="skill-box">
            <span>AWS</span>
          </div>
        </div>
        <div class="col col-6 col-sm-3">
          <div class="skill-box">
            <span>Heroku</span>
          </div>
        </div>
        <div class="col col-6 col-sm-3">
          <div class="skill-box">
            <span>Contentful</span>
          </div>
        </div>
        <div class="col col-6 col-sm-3">
          <div class="skill-box">
            <span>SQL / NoSQL</span>
          </div>
        </div>
      </div>
      <div class="row row-with-padding">
        <div class="col col-6 col-sm-3">
          <div class="skill-box">
            <span>Git</span>
          </div>
        </div>
        <div class="col col-6 col-sm-3">
          <div class="skill-box">
            <span>CI / CD</span>
          </div>
        </div>
        <div class="col col-6 col-sm-3">
          <div class="skill-box">
            <span>Terraform</span>
          </div>
        </div>
        <div class="col col-6 col-sm-3">
          <div class="skill-box">
            <span>Docker</span>
          </div>
        </div>
      </div>
    </section>
  {{/is}}
{{/each}}
{{!-- {{> contact-me }} --}}
